ta
loguru
python-dotenv
pyyaml
polars
scikit-learn
joblib
xgboost
torch
hmmlearn
vectorbt
backtrader
redis
asyncpg
sqlalchemy
streamlit
plotly
pytz
aiohttp
websockets
python-telegram-bot
pyotp
requests
numpy
pandas
smartapi-python
fastapi
uvicorn
